body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
    background: #f4f4f4;
    color: #333;
  }
  
  header {
    background: #333;
    color: #fff;
    padding: 0.5em;
    text-align: center;
  }
  
  nav a {
    color: #fff;
    margin: 0 10px;
    text-decoration: none;
  }
  
  section {
    padding: 2em;
  }
  
  .project {
    background: #fff;
    padding: 1em;
    margin: 1em 0;
    border-radius: 5px;
  }
  
  footer {
    margin: 1em;
  }

  ul {
    list-style-type: none;
    margin: 0;
    padding-left: 49.5em;
    overflow: hidden;
    background-color: #333333;
  }
  li {
    float: left;
  }

  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 16px;
    text-decoration: none;
  }

  li a:hover {
    background-color: #111111;
  }

  img {
    width: 960px;
    height: 540px;
    display: block;
    margin-right: auto;
    margin-left: auto;
  }